extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
       
        h1 Nurgul Amat
        p Full Stack Developer

        .about-bio

          p Hi There! Welcome to my portfolio. I am a lover of nature and #[strong FREEDOM] who is of Uyghur ancestry from northwest of China (Xinjiang Uyghur Autonomous Region). I love acquiring new knowledge, learning new skills, and always open to new challenges and constructive feedback.
          p I have over 3 years of experience in reverse-engineer complex machine CANBUS data, program quality testing and analysis of datasets. I've always had a passion for web design and app development. In 2021, I decided to enroll in Deep Dive Coding. In an effort to enhance my Web Development skills, I have successfully completed a Front-End Web Development Techdegree from Team Treehouse online bootcamp. I am currently taking an additional Full Stack JavaScript Techdegree to learn more back-end development techniques. 

      .skills-contact-box.box
        h6 Skills
        
        ul
          li JavaScript
          li Node.js
          li Express.js
          li Pug
          li OOP
          li Public APIs
          li HTML
          li CSS
          li Python
          li C++
          li Git and Github
         

        h6 Contact Info

        ul.contact-info
          li 306-281-80xx
          li nurgulamatxxx@gmail.com

        //- URLs to the hrefs below to link to social media accounts
        a.btn-link(href="https://www.linkedin.com/in/nurgul-amat-488301122" target="_blank") LinkedIn
        a.btn-link(href="https://github.com/nurgul212" target="_blank") GitHub
        a.btn-link(href="https://twitter.com/NurgulAmat" target="_blank") Twitter
      

    nav.nav
      a(href='/')
        span &larr;
        |  Back