extends layout.pug 

block content 
    nav.nav 
        a(href='/')
            span &larr;
            |  Home

    article.portfolio-intro   
        h3.error-message Oops! 404 - Not Found. Please try again.  
        
            hr
            p Error Message: #{err}    

    
