extends layout.pug 

block content 
    nav.nav 
        a(href='/')
            span &larr;
            |  Home

    article.portfolio-intro
       
        h3.error-message Oops! Something has gone wrong. Please try again.

        p Error Status: #{err.status} - Internal Server Error   
        
        p Error Message: #{err}
       
    
