extends layout.pug

block content

  article.portfolio-intro

    h1 Let's Make the Web Great Together! 
    p This portfolio is designed to showcase my skills and experiences as a Full Stack Developer. Feel free to take a look at my recent projects listed below.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='Project picture')
            h5 #{project.project_name}


