<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Nurgul Portfolio
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile.jpg', alt='profile')
        .dev-intro-box

         
          h5 Nurgul Amat
          p Full Stack Developer & Lifelong Learner 

          a(href='/about') Learn More &rarr;

        .thumbnail-box
        img.logo(src='/static/images/logo.jpg', alt='logo')

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Nurgul Amat

      block content

  script(src='/static/js/script.js')